<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @event.photo %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @event.body %>
</p>

<p>
  <strong>Ref:</strong>
  <%= @event.ref %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
