
<body class="gif">
  <div style="background: transparent; width: 90%;  margin:0 auto">
    <div>
      <h1 style="color: white;">News</h1>
      <a class="btn btn-primary btn-lg text-light" href="/posts/new" role="button">Post a new</a>
    </div>
    <p></p>
    <p></p>
    <% @posts.each do |post| %>
      <div class="card" style="width: fill;">
        <img class="card-img-top" src=<%= post.photo %> alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= post.body %></p>
          <p class="card-text"><%= post.ref %></p>
          <a href="#" class="btn btn-primary"><%= link_to 'Show', post %></a>
          <a href="#" class="btn btn-primary"><%= link_to 'Edit', edit_blog_path(post) %></a>
          <a href="#" class="btn btn-primary"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></a>
        </div>
      </div>
      <p></p>
    <% end %>
  </div>
</body>
